Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd


data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)


print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.

In [2]:
import pandas as pd


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


my_series = pd.Series(my_list)


print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    Name = Alice , Bob , Claire
    Age  = 25 , 30 , 27
    Gender = Female , male , Female.

In [3]:
import pandas as pd


data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
import pandas as pd

# Creating a Series
series_data = pd.Series([4, 8, 15, 16, 23, 42], name='Numbers')

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Printing the Series and DataFrame
print("Series:")
print(series_data)
print("\nDataFrame:")
print(df)

Series:
0     4
1     8
2    15
3    16
4    23
5    42
Name: Numbers, dtype: int64

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
you give an example of when you might use one of these functions?

In [5]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Using various Pandas functions
print("Original DataFrame:")
print(df)

# head() and tail()
print("\nFirst 2 rows:")
print(df.head(2))
print("\nLast 2 rows:")
print(df.tail(2))

# info() and describe()
print("\nDataFrame Info:")
print(df.info())
print("\nSummary Statistics:")
print(df.describe())

# shape
print("\nNumber of Rows and Columns:")
print(df.shape)

# loc[] and iloc[]
print("\nSelecting the first row by label:")
print(df.loc[0])
print("\nSelecting the first row by integer location:")
print(df.iloc[0])

# set_index() and reset_index()
print("\nSetting 'Name' as the index:")
df_set_index = df.set_index('Name')
print(df_set_index)
print("\nResetting the index:")
print(df_set_index.reset_index())

# groupby()
print("\nMean age for each gender:")
print(df.groupby('Gender')['Age'].mean())

# apply()
print("\nAdding 2 to each element in the 'Age' column:")
df['Age'] = df['Age'].apply(lambda x: x + 2)
print(df)

Original DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

First 2 rows:
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

Last 2 rows:
     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

Summary Statistics:
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

Number of Rows and Columns:
(3, 3)

Selecting the first row by label:
Name       Alice
Age           25
Gender    Female
Name: 0, dtype: object

Selecting the first row by integer location:
Name       Alice
Age           25
Gender    Female
Name: 0, dtype: object

Setting 'Name' as the index:
        Age  Gender
Name
Alice    25  Female
Bob      30    Male
Claire   27  Female

Resetting the index:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Mean age for each gender:
Gender
Female    26.0
Male      30.0
Name: Age, dtype: float64

Adding 2 to each element in the 'Age' column:
     Name  Age  Gender
0   Alice   27  Female
1     Bob   32    Male
2  Claire   29  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [6]:
"""
In Pandas, among the options given (Series, DataFrame, Panel), both Series and DataFrame are mutable, while Panel is not.
"""

'\nIn Pandas, among the options given (Series, DataFrame, Panel), both Series and DataFrame are mutable, while Panel is not.\n'

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

df = pd.DataFrame(data)


print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female